<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/records.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/sale.css" />
</head>
<body>
    <div class="wrapper">
        <section class="header">
            <h3>Store Manager</h3>
            <nav class="nav-bar">
                <ul>
                    <li><a href="register.html">Register User</a></li>
                    <li><a href="products.html">View Products</a></li>
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </nav>
        </section>
        <section class="home page">
            <div class="top-div"></div>
            <div class="records-div">
                    <h1>Sales by Store Attendants</h1>
                    <table class="records-table">
                        <thead></thead>
                            <th>Name</th>
                            <th>Number of sales</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Quinton</td>
                            <td>10</td>
                            <td><a href="profile.html" class="cart-button">View</a></td>
                        </tr>
                        <tr>
                            <td>David</td>
                            <td>5</td>
                            <td><a href="profile.html" class="cart-button">View</a></td>
                        </tr>
                        <tr>
                            <td>Emma</td>
                            <td>3</td>
                            <td><a href="profile.html" class="cart-button">View</a></td>
                        </tr>
                        <tr>
                            <td>Joel</td>
                            <td>3</td>
                            <td><a href="profile.html" class="cart-button">View</a></td>
                        </tr>
                        <tr>
                            <td>Christine</td>
                            <td>3</td>
                            <td><a href="profile.html" class="cart-button">View</a></td>
                        </tr>
                    </table>
                </div>
            
             
        </section>
    </div>
</body>
</html>