<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cart Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/products.css" />
</head>
<body>
    <div class="wrapper">
        <section class="header">
            <nav class="nav-bar">
                <h3>Store Manager</h3>
                <ul>
                    <li><a href="profile.html">Attendant</a></li>
                    <li><a href="admin.html">Admin</a></li>
                    <li><a href="salesrecords.html">Add to Cart</a></li>
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </nav>
        </section>
        <div class="cart-div">
            <h3>Jack to jack cable</h3>
            <img src="../img/jacktojack.jpeg">
            <div><p>Quantity: 10</p></div>
            <div><p>Product added to cart</p></div>
            <a href="salesrecords.html" class="cart-link">Sale</a>
        </div>
    </div>
</body>
</html>