<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/login.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/products.css" />
</head>
<body>
    <div class="wrapper">
        <section class="header">
            <h3>Store Manager</h3>
            <nav class="nav-bar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html">View Products</a></li>
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </nav>
        </section>
        <section class="login-page">
            <section class="edit-product">
                
                <form action="products.html" class="login-form">
                    <h3 class="login-header">Edit product details</h3>
                    <img src="../img/jacktojack.jpeg">
                    <input type="text" placeholder="Product" class="login-input" value='Jack to jack cable'><br>
                    <input type="text" placeholder="Price" class="login-input" value='Shs.25,000'><br>
                    <input type="text" placeholder="Quantity" class="login-input" value='10pieces'><br>
                    <select class="category">
                        <option>Category</option>
                        <option>Keyboards</option>
                        <option>Guitars</option>
                        <option>Cables</option>
                        <option>Microphones</option>
                        <option>Mixers</option>
                    </select>
                    <input type="text" placeholder = 'Minimum Quantity Involved' class="login-input" value="5pieces"><br>
                    <div class="button-div">
                        <button class="add-product-button">Edit</button>
                        <button class="danger-button">Delete</button>
                    </div>
                    
                </form>
            </section>
                
        </section>
    </div>
</body>
</html>