<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/products.css" />
    <script src="js/render.js"></script>
</head>
<body>
    <div class="wrapper">
        <section class="header">
            <nav class="nav-bar">
                <h3>Store Manager</h3>
                <ul>
                    <li><a href="edit.html">Edit</a></li>
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </nav>
        </section>
        <div class="grid-div">
            <div class="top-search-div">
                <div class="search-div">
                    <input type="text" placeholder="Search" class="search-input">
                    <button class="search-button">Search</button>
                </div>
                <div class="add-product">
                    <!-- <button class="add-product-button"><a href="addproduct.html" class="add-product-a">Add product</a></button> -->
                    <a href="addproduct.html" class="add-product-button">Add product</a>
                </div>
                <div class="product-title">
                    <h3>Products</h3>
                </div>
            </div>
            <div class="product-div">
                <div class="product">
                    <h3>Keyboard</h3>
                    <img src="../img/keyboard.jpg">
                    <div><p>Quantity: 10</p></div>
                    <div><p>Price for one: Shs.1000</p></div>
                </div>
                <div class="product">
                    <h3>Guitar</h3>
                    <img src="../img/guitar.jpeg">
                    <div><p>Quantity: 10</p></div>
                    <div><p>Price for one: Shs.1000</p></div>
                </div>
                <div class="product">
                    <h3>Guitar bag</h3>
                    <img src="../img/guitarbag.jpeg">
                    <div><p>Quantity: 10</p></div>
                    <div><p>Price for one: Shs.1000</p></div>
                </div>
                <div class="product">
                    <h3>Microphone</h3>
                    <img src="../img/mic.jpeg">
                    <div><p>Quantity: 10</p></div>
                    <div><p>Price for one: Shs.1000</p></div>
                </div>
                <div class="product">
                    <h3 class="product-title">Pedal</h3>
                    <img src="../img/pianopedal.jpeg">
                    <div><p>Quantity: 10</p></div>
                    <div><p>Price for one: Shs.1000</p></div>
                </div>
                <div class="product">
                    <h3 class="product-title">Piano bag</h3>
                    <img src="../img/pianobag.jpeg">
                    <div><p>Quantity: 10</p></div>
                    <div><p>Price for one: Shs.1000</p></div>
                </div>
                <div class="product">
                    <h3 class="product-title">Jack to Jack Cables</h3>
                    <img src="../img/jacktojack.jpeg">
                    <div><p>Quantity: 10</p></div>
                    <div><p>Price for one: Shs.1000</p></div>
                </div>
                <div class="product">
                    <h3 class="product-title">Guitar pedal</h3>
                    <img src="../img/guitarpedal.jpeg">
                    <div><p>Quantity: 10</p></div>
                    <div><p>Price for one: Shs.1000</p></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>