<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    <link rel='stylesheet' type='text/css' href='../css/login.css' />
</head>
<body>
    <div class="wrapper">
        <section class="header">
            <nav class="nav-bar">
                <h3>Store Manager</h3>
                <ul>
                    <li><a href="products.html">View Products</a></li>
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </nav>
        </section>
        <section class="login-page">
            <form action="products.html" class="login-form">
                <h3 class="login-header">Register User</h3>
                <input type="text" placeholder="Firstname" class="login-input"><br>
                <input type="text" placeholder="Lastname" class="login-input"><br>
                <input type="text" placeholder="Username" class="login-input"><br>
                <input type="password" placeholder = 'Password' class="login-input"><br>            
                <button type="submit" class="login-button">Register User</button>
            </form>
        </section>
    </div>
</body>
</html>