<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Records page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/records.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/sale.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="wrapper">
        <section class="header">
            <nav class="nav-bar">
                <h3>Store Manager</h3>
                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="admin.html">Admin</a></li>
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </nav>
        </section>
        <section class="home page">
            <div class="top-div">
            </div>
            <div class="records-div">
                <h1>Make a sale</h1>
                <table class="records-table">
                    <tr>
                        <th>Date and Time</th>
                        <th>Product</th>
                        <th>Quantity Sold</th>
                        <th>Price</th>
                        <th>Add to cart</th>
                    </tr>
                    <tr>
                        <td>10/10/2018</td>
                        <td>Piano Keyboard</td>
                        <td>1</td>
                        <td>Shs. 1,500,000</td>
                        <td><a href="#" class="cart-button">Add to cart</a></td>
                    </tr>
                    <tr>
                        <td>10/10/2018</td>  
                        <td>Guitar</td>
                        <td>1</td>
                        <td>Shs. 500,000</td>
                        <td><a href="#" class="cart-button">Add to cart</a></td>
                    </tr>
                    <tr>
                        <td>10/10/2018</td>
                        <td>Guitar bag</td>
                        <td>1</td>
                        <td>Shs. 150,000</td>
                        <td><a href="#" class="cart-button">Add to cart</a></td>
                    </tr>
                    <tr>
                        <td>10/10/2018</td>
                        <td>Jack to Jack cable</td>
                        <td>3</td>
                        <td>Shs. 30,000</td>
                        <td><a href="#" class="cart-button">Add to cart</a></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</body>
</html>