@import "../css/styles.css";

.attendant-div{
    display:grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    'profile table table table';
}

.profile{
    grid-area: profile;
    border-radius: 5px;
    border: 1px solid var(--orange);
    text-align: center;
    margin-left:5px;
    font-family: sans-serif;
}

.profile img{
    width: 100%;
    height: 50%;
}

.records-div{
    grid-area: table;
    border: 2px solid var(--grey);
    border-radius: 5px;
    text-align:center;
    width: 70%;
    margin-right: 10%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 35px;
}

table.records-table{
   border-collapse: collapse;
   font-family:arial;
   width:100%;
   font-size: 16px;
}

table.records-table caption {
	background-color: #f79646;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .3em;
}

table.records-table th, table.records-table td {
	padding: 12px;
}

tr{
    display: table-row;
}

table.records-table tr:hover{
    background-color: #ddd;
}

table.records-table td {
	text-align: center;
}

table.records-table th{
    background-color: var(--blue);
    color:white;
}

table.records-table tr:nth-child(even){
    background-color: var(--grey);
}

table.records-table tr:nth-child(odd){
    background-color:white;
}

.record-btn{
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

@media(max-width: 950px){

    .attendant-div{
        display:grid;
        /* flex-direction: row; */
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'profile profile'
        'table table';
    }

    .profile{
        margin-left: 15%;
        border-radius: 5px;
        border: 1px solid var(--orange);
        width:50%;
        font-family: sans-serif;
        padding:0.5px;
    }

    .profile img{
        width:60%;
        height: 40%;
    }

    .records-div{
        grid-area: table;
        border: 2px solid var(--grey);
        border-radius: 5px;
        text-align:center;
        width: 90%;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 15px;
    }

    table.records-table{
        border-collapse: collapse;
        font-family:arial;
        width:100%;
        font-size: 15px;
     }
}

@media (max-width:500px){

    .profile{
        margin: 15px;
        border-radius: 5px;
        border: 1px solid var(--orange);
        width:70%;
        font-family: sans-serif;
    }

    .profile img{
        width: 100%;
        height: 50%;
    }

    .records-div{
        grid-area: table;
        border: 2px solid var(--grey);
        border-radius: 5px;
        text-align:center;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 5px;
    }

    .records-div h1{
        font-size:15px;
    }

    table.records-table{
        border-collapse: collapse;
        font-family:arial;
        width:100%;
        font-size: 10px;
    }

     table.records-table th, table.records-table td {
        padding: 3px;
    }
}