@import "../css/styles.css";

.records-div{
    border: 2px solid var(--grey);
    border-radius: 5px;
    text-align:center;
    width: 90%;
    margin-left: 2%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 35px;
    font-family: sans-serif;
}


table.records-table{
   border-collapse: collapse;
   font-family:arial;
   width:100%;
   font-size: 16px;
}

table.records-table caption {
	background-color: #f79646;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .3em;
}

table.records-table th, table.records-table td {
	padding: 12px;
    border-width: 1px;
    border-color:var(--orange);
}

tr{
    display: table-row;
}

table.records-table tr:hover{
    background-color: #ddd;
}

table.records-table td {
	text-align: center;
}

table.records-table th{
    background-color: var(--blue);
    color:white;
}

table.records-table tr:nth-child(even){
    background-color: var(--grey);
}

table.records-table tr:nth-child(odd){
    background-color:white;
}

.record-btn{
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


@media(max-width: 950px){
    .records-div{
        grid-area: table;
        border: 2px solid var(--grey);
        border-radius: 5px;
        text-align:center;
        width: 90%;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 15px;
    }

    table.records-table{
        border-collapse: collapse;
        font-family:arial;
        width:100%;
        font-size: 15px;
     }
}


@media (max-width:500px){
    .records-div{
        grid-area: table;
        border: 2px solid var(--grey);
        border-radius: 5px;
        text-align:center;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 5px;
    }

    .records-div h1{
        font-size:15px;
    }

    table.records-table{
        border-collapse: collapse;
        font-family:arial;
        width:100%;
        font-size: 10px;
    }

     table.records-table th, table.records-table td {
        padding: 3px;
    }

}