@import "../css/styles.css";
@import "../css/records.css";

.cart-button{
    text-decoration:none;
    color:var(--darkblue);
    width: 60%;
    font-size: 16px;
    padding: 8px 16px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    box-sizing: border-box;
    background-color:var(--grey);
    font-family: 'Ubuntu', sans-serif;
}

.cart-button:hover{
    background-color:black;
    color:white;
}

@media (max-width: 1350px){
    .cart-button{
        width: 100%;
        font-size: 16px;
        padding: 4px 8px;
    }
}

@media (max-width: 1050px){
    .cart-button{
        width: 100%;
        font-size: 14px;
        padding: 4px 8px;
    }
}

@media (max-width: 700px){
    .cart-button{
        width: 90%;
        font-size: 12px;
        padding: 2px 4px;
    }
}