@import "../css/styles.css";

.top-div{
    background-image: url('../img/shop.jpeg');
    background-size: cover;
    height: 300px;
    margin-bottom: 5px;
    

}

.cart-button{
    text-decoration:none;
    color:var(--darkblue);
    width: 60%;
    font-size: 16px;
    padding: 8px 16px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    box-sizing: border-box;
    background-color:var(--grey);
    font-family: 'Ubuntu', sans-serif;
}

.cart-button:hover{
    background-color:black;
    color:white;
}